<!DOCTYPE html>  
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-kelipatan4.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>

<body>
    <div id="particles-js" style="position:fixed; width:100%; height:100%; z-index:-1;"></div>
    <div class="div">
        <h1>Form Input Data Pasien</h1>
        <form action="/input" method="post">
            <label for="">Tambah ID Pasien</label>
            <input type="text" name="DimasIDPasien" placeholder="Tambah ID Pasien" required><br><br>
            <label for="">Nama</label>
            <input type="text" name="DimasNama" placeholder="Tambah Nama Pasien" required><br><br>
            <label for="text">Alamat</label>
            <input type="text" name="DimasAlamat" placeholder="Tambah Alamat Pasien" required><br><br>
            <label for="text">Kontak</label>
            <input type="text" name="DimasKontak" placeholder="Tambah Kontak Pasien" required><br><br>
            <input type="submit" value="Kirim" name="submit">
            <a href="{{ url_for('index') }}"><button type="button" class="btn">Kembali</button></a>
        </form><br>
    </div>
    <script>
        particlesJS('particles-js', {
            "particles": {
                "number": { "value": 80, "density": { "enable": true, "value_area": 750 } },
                "color": { "value": "#ffffff" },
                "shape": { "type": "circle" },
                "opacity": { "value": 0.5 },
                "size": { "value": 2, "random": true },
                "line_linked": { "enable": true, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 },
                "move": { "enable": true, "speed": 7 }
            }
        });
    </script>
</body>

</html>